 

body {  
    height: 1000vh;  
}  

 

.picture {  
 width: 100%;  
 height: 700px;  
 background-position: center;  
 background-size: cover;  
 background-image: url(pexels-cottonbro-6804613.jpg);  
 background-attachment: fixed;  

 
 color: black;  
 display: flex;  
 justify-content: center;  
 align-items: center;  
 -ms-text-size-adjust: 30fr;  
}  

.picture-1 {  
    width: 100%;  
    height: 700px;  
    background-position: center;  
    background-size: cover;  
    background-image: url(pexels-cottonbro-6209565.jpg);  
    background-attachment: fixed;  
   
    
    color: black;  
    display: flex;  
    justify-content: center;  
    align-items: center;  
    -ms-text-size-adjust: 30fr;  
   }  

   .picture-2 {  
    width: 100%;  
    height: 700px;  
    background-position: center;  
    background-size: cover;  
    background-image: url(pexels-brett-sayles-3803517.jpg);  
    background-attachment: fixed;  
   
    
    color: black;  
    display: flex;  
    justify-content: center;  
    align-items: center;  
    -ms-text-size-adjust: 30fr;  
   }  

   .picture-3 {  
    width: 100%;  
    height: 700px;  
    background-position: center;  
    background-size: cover;  
    background-image: url(pexels-cytonn-955389.jpg);  
    background-attachment: fixed;  
   
    
    color: black;  
    display: flex;  
    justify-content: center;  
    align-items: center;  
    -ms-text-size-adjust: 30fr;  
   }  

   .picture-4 {  
    width: 100%;  
    height: 700px;  
    background-position: center;  
    background-size: cover;  
    background-image: url(pexels-polina-tankilevitch-4443160.jpg);  
    background-attachment: fixed;  
   
    
    color: black;  
    display: flex;  
    justify-content: center;  
    align-items: center;  
    -ms-text-size-adjust: 30fr;  
   }  

   h2 { 
    font-size: 50px; 
    color: rgb(109, 112, 114); 
    } 
/* navigation and header */ 

header { 

    background-color: #008080; 
    color: #ffffff; 
    padding: 10px; 
    text-align: center; 
    width: 100%; 
} 

nav { 

    background-color: #252323; 
    padding: 15px; 
    text-align: center; 
    width: 100%; 
} 

nav a { 

    color: #ffffff; 
    margin: 0 15px; 
    text-decoration: none; 
    font-weight: bold; 

} 

nav a:hover { 

    text-decoration: underline; 

} 

/* employees information box */ 

body { 

    margin: 0; 
    padding: 0; 
    font-family: Arial, sans-serif; 
    background-color: #f4f4f4; 
} 

.main-content { 

    margin-top: 60px;  
    display: flex; 
    justify-content: center; 
    align-items: center; 

} 

.centered-box { 

    display: flex; 
    align-items: center; 
    background-color: #008080; 
    border: 1px solid #ddd; 
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    max-width: 800px; 
    width: 90%; 
    padding: 20px; 

} 

.centered-box img { 

    width: 450px; 
    height: 450px; 
    border-radius: 8px; 
    object-fit: cover; 
    margin-right: 20px; 

} 

.content { 

    display: flex; 
    flex-direction: column; 

} 

.content h1 { 

    margin: 0; 
    font-size: 1.8em; 
    color: #f6f1f1; 

} 

.content p { 

    margin: 10px 0 0; 
    color: #f9f9f9; 
    font-size: 1em; 
    line-height: 1.6; 

} 

.position { 

  position: fixed; 

} 

/* JOB SPECIFICATION box */ 

.main-content-2 { 

    margin-top: 10px;  
    display: flex; 
    justify-content: left; 
    align-items: center; 
    margin-left: 50px; 

} 

.main-content-3 { 

    margin-top: 10px;  
    display: flex; 
    justify-content: right; 
    align-items: center; 
    margin-right: 50px; 

} 

/* COURSES box */ 

.centered-box-2 { 

    display: flex; 
    align-items: center; 
    background-color: #008080; 
    border: 1px solid #ddd; 
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    max-width: 600px; 
    width: 90%; 
    padding: 10px; 

} 

.centered-box-2 img { 

    width: 250px; 
    height: 250px; 
    border-radius: 8px; 
    object-fit: cover; 
    margin-right: 20px; 

} 



 